/*
combined files : 

../icons/icons.css
*/


/** generate by joycss v0.5.3, on time: 2013-10-08 10:08:28 */
.album-big:hover,
.icons:hover .album-big,
.album-big,
.album-small:hover,
.icons:hover .album-small,
.album-small,
.ks-ext-close,
.next:hover,
.icons:hover .next,
.next,
.prev:hover,
.icons:hover .prev,
.prev,
.rotation-con:hover,
.icons:hover .rotation-con,
.rotation-con,
.rotation-pro:hover,
.icons:hover .rotation-pro,
.rotation-pro {
  background-image: url(http://gtms03.alicdn.com/tps/i3/T1FVftFdBbXXXRy1nV-268-186.png);
  background-repeat: no-repeat;
}
.album-big:hover,
.icons:hover .album-big {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 0;
}
.album-big {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 -124px;
}
.album-small:hover,
.icons:hover .album-small {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 -62px;
}
.album-small {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -62px -62px;
}
.ks-ext-close {
  width: 21px;
  height: 21px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -227px -128px;
}
.next:hover,
.icons:hover .next {
  width: 31px;
  height: 54px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -227px 0;
}
.next {
  width: 31px;
  height: 54px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -227px -64px;
}
.prev:hover,
.icons:hover .prev {
  width: 31px;
  height: 54px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -186px -64px;
}
.prev {
  width: 31px;
  height: 54px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -186px 0;
}
.rotation-con:hover,
.icons:hover .rotation-con {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -62px -124px;
}
.rotation-con {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -124px -62px;
}
.rotation-pro:hover,
.icons:hover .rotation-pro {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -124px 0;
}
.rotation-pro {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -62px 0;
}


.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.albums-dialog {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  z-index: 10003;
}
.ks-dialog-hidden {
  display: none;
}
.theme-weibo {
  background-color: rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#BF000000, endColorstr=#BF000000,GradientType=0 );
  width: 100%;
}
.theme-weibo .theme-wrap {
  padding: 20px;
  overflow-y: auto;
}
.theme-weibo ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
.theme-weibo ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.theme-weibo .close {
  display: block;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 18px;
}
.theme-weibo .close:hover {
  background-color: #666;
  color: #eee;
}
.theme-weibo img {
  max-width: none !important;
}
.theme-weibo .album-loading {
  background: url(http://img03.taobaocdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat center center #ffffff;
}
.theme-weibo .box-main {
  position: relative;
  margin-right: 230px;
  background-color: #000;
  height: 100%;
}
.theme-weibo .box-main img {
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform .2s linear;
}
.theme-weibo .box-aside {
  width: 230px;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: -4000px;
  padding-bottom: 4000px;
  background-color: #fafafa;
}
.theme-weibo .box-aside .aside-wrap {
  padding: 10px;
}
.theme-weibo .box-aside .headline {
  line-height: 38px;
  font-size: 14px;
  border-bottom: 1px solid #E0E0E0;
}
.theme-weibo .box-aside .headline .num {
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
}
.theme-weibo .box-aside .desc {
  line-height: 2em;
  padding-top: 8px;
}
.theme-weibo .box {
  position: relative;
  overflow: hidden;
}
.theme-weibo .handers .next,
.theme-weibo .handers .prev {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 45%;
  cursor: pointer;
}
.theme-weibo .handers .prev {
  left: 45px;
}
.theme-weibo .handers .next {
  right: 275px;
}
.theme-weibo .step-last .next,
.theme-weibo .step-start .prev {
  visibility: hidden;
}
.theme-weibo .album-action-bar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  _bottom: 67px;
  z-index: 11;
}
.fullscreen {
  background-color: #000;
}
.fullscreen .ks-ext-close {
  top: 20px;
  right: 20px;
}
.fullscreen .theme-wrap {
  padding: 0;
}
.fullscreen .box {
  border: none;
}
.fullscreen .box-aside {
  display: none;
}
.fullscreen .box-main {
  margin-right: 0;
}
.fullscreen .handers .next {
  right: 10px;
}
.fullscreen .handers .prev {
  left: 10px;
}
.fullscreen .box-main {
  background-color: #000;
  border-color: #000;
}

