<div class="logo_block">
	<div class="logo" id="top_logo"><a href="#"><!--图标背景--></a></div>
	<div class="logo_tt">金融服务平台</div>
	<div class="right">
	<div class="phone">中心客服电话：<span id="kf_phone">123456789</span></div>
	<div class="help"><a href="#" target="_blank" id="help_url">帮助</a></div>
	</div>
</div>


<div class="finance_header">
	<div class="finance_top">
		<div class="finance_mycenter"><a href="$!{gsc.context}/index.shtml" title="会员中心"></a></div>
		<div class="finance_top_right">
			<!-- 显示的一级导航 -->
			<div class="finance_main_menu" id="chromemenu">
				<ul>
					<li class="user"><a href="#" id="dropmenu_1" title="会员用户">Administrator<span class="arrow"></span></a></li>	
					<li class="message"><a href="$!{gsc.context}/list_inbox_msg.shtml" title="站内信"><span id="unread_msg_count">0</span></a></li>
					<li class="set"><a href="#" id="dropmenu_3"></a></li>	
					<li class="sitenav"><a href="#" id="dropmenu_4" title="平台导航"></a></li>		
					<li class="exit"><a href="/etrade/logout.shtml" title="退出系统"></a></li>
				</ul>
			</div>
			<!--一级导航结束-->  
			
			<!-- 会员基本信息 -->
		 	<div id="dropmenu1" class="finance_kind_menu" style="width:250px;">
				<div class="ks-popup-content">
			  		<div class="finance_kind_inbox" style="padding: 10px;">
			 			<p>
			 				<span class="color1">会员基本信息：</span>
			 				<!-- <a href="/gzql/customer/add_company_information.shtml?menu_no=658102">详情</a> -->
			 			</p>
						<p class="line2"></p>
		 				<p><span class="color1">会员信誉：</span>
			            	<img id="top_cr_image" src="#" />
			           	</p>
			 			<p><span class="color1">会员积分：</span><span class="color2" id="top_jifen"></span> </p>  
			  			<p><span class="color1">会员名称：</span> <span id="top_cust_name"></span></p> 
			   			<p><span class="color1">登录账号： </span><span id="top_emp_acct"></span> </p>  
			   			<!-- 
			   			<p class="line2"></p>
			   			<p>	<span class="color1">登录密码：</span>
			   				<a href="#" style="color:#0099cc; margin-right:15px;">修改</a>
			   				<a href="#" style="color:#0099cc;">重置</a>
			   			</p>  
			   			<p>	<span class="color1">支付密码：</span>
			   				<a href="#" style="color:#0099cc; margin-right:15px;">修改</a>
			   				<a href="#" style="color:#0099cc;">重置</a>
			   			</p>
			   			 -->
				 		<div class="clear"></div>
			 		</div>
		 		</div>
		 	</div>
			  
		<div id="dropmenu3" class="kind_menu" style="width:220px;">
			<div  class="ks-popup-content ">
		    <div class="kind_inbox">
   				<div class="container etrade_submenu_set">
   					<div class="row">
   						<div class="col-sm-12 title3" style="font-size:14px; border:none; line-height:35px;background:#f2f2f2">
   						<img src="$!{gsc.context}/skin/default/bootstrap/images/icon/etrade_icon5.png"/>&nbsp;基础设置
   						</div>
   					</div>
  				<div class="row">
			     	<div class="col-md-6">
			     		<h2 style="color:#44947e;">安全设置</h2>
			           	<ul>
			             	<li><a href="$!{gsc.context}/customer/show_set_password.shtml?menu_no=658107">登陆密码管理</a> </li>
			          	</ul>
			    	</div>
			     	<div class="col-md-6">
			       		<h2 id="jianguancangdan"><a href="$!{gsc.context}/menu2etrade.shtml?cmno=658108" style="color:#00b4ff;">我的仓单</a></h2>
			       		<h2><a href="$!{gsc.context}/pages/showMemberCredit.shtml" style="color:#5ab4ad;">会员授信</a></h2>
			     	</div>
				</div> 
   
				</div>     
			</div>
			</div>

		</div>   
		
			<!-- 平台导航 -->
			<div id="dropmenu4" class="finance_kind_menu" style="width:200px;">
				<div class="ks-popup-content">
					<div class="finance_kind_inbox" style="padding:0;">
						<ul class="sitenav-sub" id="product_list_ul">
							<!-- 
							<li><a href="#">现货交易平台</a> </li>
							<li><a href="#">运力交易平台</a> </li>
							<li><a href="#">金融服务平台</a> </li>
							<li><a href="#" class="app">手机APP</a> </li>
							 -->
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>







