<!-- kissy的核心，通过loader功能按需加载模块 -->
<script type="text/javascript" src="$!{gsc.context}/skin/default/kissy/seed-min.js"></script>

<!-- 服务器上使用nginx的concat 将此3个文件合并  ??cfg.js,base.js,template.js -->
<script type="text/javascript" src="$!{gsc.context}/skin/default/cfg.js"></script>
<script type="text/javascript" src="$!{gsc.context}/skin/default/base.js"></script>
<script type="text/javascript" src="$!{gsc.context}/skin/default/template.js"></script>

<!-- 服务器上使用nginx的concat 将此2个文件合并  ??bootstrap/js/html5shiv.js,bootstrap/js/respond.min.js -->
<link href="$!{gsc.context}/skin/default/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>	
<script type="text/javascript" src="$!{gsc.context}/skin/default/bootstrap/js/html5shiv.js"></script>
<script type="text/javascript" src="$!{gsc.context}/skin/default/bootstrap/js/respond.min.js"></script>


<link href="$!{gsc.context}/skin/default/etrade/css/etrade.css" rel="stylesheet" type="text/css" />
<link href="$!{gsc.context}/skin/default/bootstrap/css/for-etrade.css" rel="stylesheet" type="text/css" />
<link href="$!{gsc.context}/skin/default/bootstrap/css/for-finance.css" rel="stylesheet" type="text/css" />
<link href="$!{gsc.context}/skin/default/bootstrap/css/css.css" rel="stylesheet" type="text/css" />
