@charset "gbk";
/*地区选择*/
.area-me{border:#e2e2e2 solid 1px;}
.sec-area{line-height:30px;}
.sec-area span{padding:0px 5px;}
.words-area a{padding:0px 4px;}
.txt-area{font-size:12px; line-height:24px;}
.txt-area a{color:#666;}
/* CSS Document */
.override-row{margin:0px; padding:0px;}




